<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>New Digest</title>
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700&display=swap" rel="stylesheet">
        <link rel="icon" href="./favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>

    <body>

        <header>
            <h1>News Digest<span>.</span></h1>
        </header>
        <main>
            <section>
              <div class="content">
                <div class="options-bar">
                    <div id="url-tab" class="option-tab active-tab" onclick="return Client.tabClickHandler()">URL</div>
                    <div id="text-tab" class="option-tab" onclick="return Client.tabClickHandler()">Paste text</div>
                </div>
                  <form id="url-form" class="" onsubmit="return Client.handleUrlSubmit(event)">
                      <span class="error-span" id="url-error"></span>
                      <input type="text" id="url-input" name="url-input" value="" placeholder="Enter URL" autofocus="autofocus" onblur="return Client.onUrlBlur()" onchange="return Client.onUrlChange()">
                      <input disabled type="submit" id="url-submit" name="url-submit" value="Analyse" onclick="return Client.handleUrlSubmit(event)" onsubmit="return Client.handleUrlSubmit(event)">
                </form>
                <form id="text-form" onsubmit="" class="hidden">
                    <span class="error-span" id="text-error"></span>
                    <input type="text" id="title-input" name="title-input" value="" placeholder="Enter article title" autofocus="autofocus" onblur="" onchange="return Client.onTextChange(event)" maxlength="100">
                    <textarea id="article-text" rows="4" cols="50" placeholder="Paste article here" onchange="return Client.onTextChange(event)" maxlength="1000"></textarea>
                    <input disabled type="submit" id="text-submit" name="text-submit" value="Analyse" onclick="return Client.handleTextSubmit(event)" onsubmit="return Client.handleTextSubmit(event)">
                </form>
                <div id="loading-spinner" class="lds-ring hidden"><div></div><div></div><div></div><div></div></div>
                <div id="results-component" class="results-container hidden">
                  <div class="results-title">
                      <h2>Results</h2>
                  </div>
                  <div class="results-item">
                      <h3 class="results-subtitle">Summary</h3>
                      <p id="summary-data"></p>
                  </div>
                  <div class="results-item">
                    <h3 class="results-subtitle">Category</h3>
                    <p id="classification-data"></p>
                  </div>
                  <div class="results-item">
                    <h3 class="results-subtitle">Sentiment</h3>
                    <p id="polarity-data"></p>
                    <p id="subjectivity-data"></p>
                  </div>
                  <div class="results-item">
                    <h3 class="results-subtitle">Hashtags</h3>
                    <ul id="hashtag-list">
                    </ul>
                  </div>
                </div>
              </div>
            <section>
        </main>

        <footer>
            <p>&copy 2020</p>
        </footer>

    </body>
</html>
