// Variables
$base-background-colour: #f2f2f2;
$element-background-colour: #fff;
$base-font-colour: #333333;
$secondary-font-colour: #808080;
$secondary-colour: #00D897;
$link-colour: rgb(27, 149, 224);